/*COLORES
#99B080 - Verde claro
#748E63 - verde oscuro
#F9B572 - naranja
#FAF8ED - beige
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.index-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #99B080;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.color-button {
    border:none;
    background-color: #99B080 ;
    color: #FAF8ED;
    margin-left: 80%;
    margin-top: 10px;
    font-size: 1.25rem;
}

.mainIcon {
    max-width: 30%;
    margin:0;
}

/*ASIDE*/
aside {
    padding: 2rem;
    padding-right: 0;
    color: #FAF8ED;
    position: sticky;
    height: 100vh;
    margin-bottom: 150px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.mainTitle {
    font-size: x-large;
    font-weight: bold;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.searchBar {
    font-size: 20px;
    padding: 1px;

}

.searchButton {
    border: 0;
    background-color: #748E63;
    color: #FAF8ED;
    margin-right: 20px;
    padding: 2.5px 10px 0;
    font-size: 15px;
    cursor: pointer;
    border:2px solid #FAF8ED;
    border-radius: 1rem;
    transition:  background-color .5s, color .5s;
}

.searchButton:hover {
    background-color: #FAF8ED;
    color: #748E63;
}

/*BOTONES MENÚ*/

.menu{
    display: flex;
    flex-direction: column;
    gap: .15rem;
    margin-top: 20px;
}

.navBar-button {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: #FAF8ED;
    font-weight: bold;
    font-size: 1rem;
    cursor:pointer;
    display: flex;
    padding: .75rem;
    gap: 1rem;
}

.navBar-button.active {
    background-color: #FAF8ED;
    color: #748E63;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.navBar-button.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #FAF8ED;
}

.navBar-button.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #FAF8ED;
}

.footer-text {
    color: #FAF8ED;
    font-size: .85rem;
    margin-top: 10rem;
    text-align: center;
}


/*MAIN*/

main {
    position: relative;
    background-color: #FAF8ED;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

/*CARDS */

.productsTitle {
    color: #748E63;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.cardStyle {
    text-align: center;
    background-color: #99B080;
    color: #FAF8ED;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: .15rem;
}

.card-title {
    font-size: 1.3rem;
    color: black;
}

.card-text {
    color: black;
    font-weight: bold;
}

.card-btn {
    font-weight: bold;
    display: block;
    width: 100%;
    border: 0;
    background-color: #FAF8ED;
    color: black;
    padding: 0.4rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #FAF8ED;
    transition: background-color .5s, color .5s;
}

.card-btn:hover {
    background-color: #F9B572;
    color: black;
}

.cardImg {
    width: 10rem;
    margin-left: 50px;
}

/*CARRITO*/

#carrito-icon {
    position: fixed;
    bottom: 20px;
    right: 70px;
    border: none;
    background-color: #FAF8ED;
    box-shadow: 0px 0px 20px #748E63;
    color: #F9B572;
    font-size: 3rem;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
}

#carrito-icon:hover {
    background-color: #F9B572;
    color: #FAF8ED;
    transition: .50s;
}

.numeroCarrito{
    position: fixed;
    bottom: 100px;
    right: 120px;
    color: #FAF8ED;
    font-weight: bold;
    border-radius: 50%;
    background-color: #748E63;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carritoContainer {
    position: fixed;
    z-index: 99;
    bottom: 2.5rem;
    right: 2rem;
    width: 550px;
    height: 80%;
    border-radius: 2rem;
    background-color: #FAF8ED;
    box-shadow: 0px 0px 20px gray;
    border-bottom: none;
    overflow-y: scroll;
}


.carrito-titulo {
    border-bottom: #748E63 solid 2px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 2fr 2fr;
    padding: .5rem 2rem .5rem 1rem;
    
}

.carrito-titulo h4 {
    font-size: 1.3rem;
    color:black;
    font-weight: bold;
    margin: 0;
}


.carrito-titulo .cerrar {
    justify-self: flex-end;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.cerrar:hover {
    color: #F9B572;
}


.carrito-titulo #clearOut {
    justify-self: flex-end;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
}


.cart-item {
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 6px #99B080;
    color: black;
    font-weight: bold;
    font-size: 1rem;

}

.cartItem-img {
    width: 3.5rem;
}

.cartItem-delete {
    border: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.carrito-footer {
    display: flex ;
    justify-content: space-around;
    width: 535px;
    align-content: center;
    position: fixed;
    bottom: 1.5rem;
    text-align: center;
    background-color: #F9B572;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0px 0px 20px gray;
    cursor: pointer;
}

.carrito-footer:hover {
    background-color: #99B080;
    color: #FAF8ED;
}

.boton-comprar {
    font-size:  20px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.boton-comprar:hover{
    color: #FAF8ED;
}

#total {
    font-size: 20px;
    font-weight: bold;
}

.cerrado {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .3s, opacity .3s linear;
    transition: visibility 0s .3s, opacity .3s linear;
}



/*Clase específica para todo lo que queremos ocultar:*/

.disabled {
    display:none;
}

/*DARKMODE*/

.dark-mode aside {
    background-color: #071952;
    color: #EEEEEE;
}


.dark-mode .searchButton {
    background-color: #071952;
    color: #EEEEEE;
}

.dark-mode .searchButton:hover {
    background-color: #51829B;
    color: #EEEEEE;
}


.dark-mode .header {
    background-color: #071952;
}
.dark-mode .navBar-button.active {
    background-color: #51829B;
    color: #EEEEEE;
}

.dark-mode .bi-moon-stars-fill{
background-color: #071952 !important;
}

.dark-mode .bi-moon-stars-fill::before{
    background-color: #071952 !important;
}
    
.dark-mode .navBar-button.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #51829B;
}

.dark-mode .navBar-button.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #51829B;
}

.dark-mode main {
    background-color: #51829B;
    color: #EEEEEE;
}

.dark-mode .cardsContainer {
    background-color: #51829B;
    color: #EEEEEE;
}

.dark-mode .card-btn {
    border: 1px solid #51829B;
    color: #071952;
    border: 2px solid #EEEEEE;
}

.dark-mode .card-btn:hover {
    background-color: #071952;
    color: #EEEEEE;
}

.dark-mode .index-container{
    background-color: #071952;
}

.dark-mode footer {
    background-color: #071952;
}
.dark-mode .footer-text {
    color: #9BB0C1;
}

.dark-mode #color-mode {
    color: #EEEEEE;
}

/*Dark Mode - carrito*/


.dark-mode .cart-container {
    color: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


/* Estilos para los productos dentro del carrito en modo oscuro */
.dark-mode .cart-item {
    background-color: #071952;
    color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilos para los botones del carrito en modo oscuro */
.dark-mode .cartActions-clearOut {
    background-color: #071952;
    color: #EEEEEE;
    border: 2px solid #51829B;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .cartActions-clearOut:hover {
    background-color: #51829B;
    color: #EEEEEE;
}

/* Estilos para el botón de comprar en modo oscuro */
.dark-mode .cartActions-buy {
    background-color: #51829B;
    color: #EEEEEE;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .cartActions-buy:hover {
    background-color: #071952;
    color: #EEEEEE;
}

/* Estilos para el texto de compra exitosa en modo oscuro */
.dark-mode .purchase-ok,
.bi-emoji-grin {
    color: #EEEEEE;
    font-weight: bold;
}



.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  